@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

@layer utilities {
    body {
        @apply font-[BraahOne]
    }

    li {
        @apply px-4;
        @apply cursor-pointer;
    }

}
.nav-underline {
    @apply px-4;
    @apply cursor-pointer;
}

.nav-underline::after {
    @apply content-[``] bg-yellow-600 h-[3px] w-[0%] left-0 -bottom-[5px]
    rounded-xl absolute duration-300
}

.nav-underline:hover::after {
    @apply w-[100%]
}


.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover {
    background-image: 
    linear-gradient(to right, 
    rgba(177, 177, 168, 0.8), 
    hsla(0, 0%, 100%, 0.8))!important;
}